#canvas {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

#menu {
  z-index: 2;
  position: relative;
  width: 100vw;
}

#waitingRoom {
  z-index: 2;
  position: relative;
  width: 100vw;
}