<div id="tankGuideComponent" *ngIf="showTankGuide">
  <div id="tankGuideContent">
    <div id="exitButton" (click)="showTankGuide = false"></div>
    <div id="spaceFloat"></div>
    <div id="tankGuideTitle">SWITCH TANKS</div>
    <app-tankselection (closeTankGuide)="showTankGuide = false;"></app-tankselection>
  </div>
</div>

<div id="chatBox">
  <div #chat id="chat">
    <p class="chatMessage" *ngFor="let message of messages; index as i">{{message.gamerName}}: {{message.message}}</p>
  </div>
  <div id="send">
    <input #sendInput id="sendInput" type="text" placeholder="Chat message..." maxlength="100" (focus)="chatGainedFocus()" (blur)="chatLostFocus()" spellcheck="false">
    <div id="sendIcon" (click)="sendChatMessage()"></div>
  </div>
</div>

<div id="waitingRoomComponent">
  <p id="title">WAITING ROOM</p>
  <div id="gameCodeArea">
    <p id="gameCode">Game Code: {{gameCode}}</p>
    <div id="copyImage" (click)="copyGameCode()" title="Copy Game Code"></div>
    <div id="changeTankImage" (click)="showTankGuide = true" title="Change Tanks"></div>
    <div id="leaveGame" (click)="leaveGame()" title="Leave Game"></div>
  </div>
  
  <div id="tanksContainer">
    <div *ngFor="let serverTank of serverTanks; index as i" class="tank" [ngClass]="{'blueTank': serverTank.color == 1, 'greenTank': serverTank.color == 2, 'orangeTank': serverTank.color == 3, 'redTank': serverTank.color == 4}">
      <p class="gamerName"><u>{{serverTank.gamerName}}</u></p>
      <p class="tankName" *ngIf="serverTank.type == 1">Tank Tank</p>
      <p class="tankName" *ngIf="serverTank.type == 2">Assault Tank</p>
      <p class="tankName" *ngIf="serverTank.type == 3">Scout Tank</p>
      <p class="tankName" *ngIf="serverTank.type == 4">Demolition Tank</p>
      <div [ngClass]="{'tankTankImage': serverTank.type == 1, 'assaultTankImage': serverTank.type == 2, 'scoutTankImage': serverTank.type == 3, 'demolitionTankImage': serverTank.type == 4}"></div>
      <p class="score">Score: {{serverTank.score}}</p>
    </div>
  </div>
  
  <div id="gameAdminSection" *ngIf="tankSelection.gameAdmin && serverTanks.length > 1">
    <h2>Make sure everyone is ready before starting!</h2>
    <button id="startButton" (click)="startRound()" >Start Round</button>
  </div>
</div>
