#tankGuideComponent {
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

#tankGuideContent {
  background-color: rgb(19, 21, 33);
  color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 200px;
}

#exitButton {
  width: 30px;
  height: 30px;
  float: right;
  background-image: url("/assets/exit.png");
  cursor: pointer;
}

#spaceFloat {
  width: 30px;
  height: 30px;
  float: left;
}

#exitButton:hover {
  transform: scale(1.1);
}

#tankGuideTitle {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

#waitingRoomComponent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

#title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}

#gameCodeArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
}

#gameCode {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

#copyImage {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url("/assets/copy.png");
  cursor: pointer;
  margin-right: 10px;
}

#copyImage:hover {
  transform: scale(1.1);
}

#changeTankImage {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url("/assets/change.png");
  cursor: pointer;
  margin-right: 10px;
}

#changeTankImage:hover {
  transform: scale(1.1);
}

#leaveGame {
  width: 24px;
  height: 24px;
  background-image: url("/assets/leave.png");
  cursor: pointer;
}

#leaveGame:hover {
  transform: scale(1.1);
}

#tanksContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tank {
  width: 200px;
  height: 250px;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.redTank {
  border: solid 2px red;
}

.blueTank {
  border: solid 2px blue;
}

.greenTank {
  border: solid 2px green;
}

.orangeTank {
  border: solid 2px orange;
}

.gamerName {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.tankName {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tankTankImage {
  width: 55px;
  height: 39px;
  background-size: cover;
  background-image: url("/assets/tanks/tankturret.png"), url("/assets/tanks/tankbody.png");
}

.score {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.assaultTankImage {
  width: 49px;
  height: 35px;
  background-size: cover;
  background-image: url("/assets/tanks/assaultturret.png"), url("/assets/tanks/assaultbody.png");
}

.scoutTankImage {
  width: 45px;
  height: 31px;
  background-size: cover;
  background-image: url("/assets/tanks/scoutturret.png"), url("/assets/tanks/scoutbody.png");
}

.demolitionTankImage {
  width: 49px;
  height: 35px;
  background-size: cover;
  background-image: url("/assets/tanks/demolitionturret.png"), url("/assets/tanks/demolitionbody.png");
}

#gameAdminSection {
  margin-top: 20px;
  text-align: center;
  color: white;
}

#readyButton {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: rgb(102, 240, 0);
  cursor: pointer;
}

#readyButton:hover {
  transform: scale(1.05);
}

#chatBox {
  position: absolute;
  width: 300px;
  height: 230px;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

#chat {
  overflow: auto;
  height: 200px;
  width: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
}

.chatMessage {
  margin: 0px;
  margin-bottom: 10px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

#send {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

#sendInput {
  width: 270px;
  height: 30px;
  box-sizing: border-box;
  padding-block: 0px;
}

#sendIcon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url("/assets/send.png");
  border: solid 1px white;
  box-sizing: border-box;
  cursor: pointer;
}


