#menuComponent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

#gameTitle {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}

.step {
  color: white;
  font-size: large;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

#instructionsLink {
  cursor: pointer;
}

#instructionsComponent {
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

#instructionsContent {
  background-color: rgb(19, 21, 33);
  color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
}

#exitButton {
  width: 30px;
  height: 30px;
  float: right;
  background-image: url("/assets/exit.png");
  cursor: pointer;
}

#exitButton:hover {
  transform: scale(1.1);
}

#gamerNameInput {
  width: 300px;
  padding: 5px;
}

#tankSelection {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.tank {
  width: 200px;
  height: 290px;
  margin: 10px;
  border: solid 1px white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,0.6);
}

.tank:hover {
  transform: translateY(-5px);
}

.tankTitle {
  font-size: 20px;
}

.selected {
  box-shadow: 0px 0px 20px 5px white;
}

.gameModeButton {
  width: 200px;
  padding: 5px;
  cursor: pointer;
}

.gameModeButton:hover {
  transform: scale(1.05);
}

#tankTankImage {
  width: 55px;
  height: 39px;
  background-size: cover;
  background-image: url("/assets/tanks/tankturret.png"), url("/assets/tanks/tankbody.png");
}

#assaultTankImage {
  width: 49px;
  height: 35px;
  background-size: cover;
  background-image: url("/assets/tanks/assaultturret.png"), url("/assets/tanks/assaultbody.png");
}

#scoutTankImage {
  width: 45px;
  height: 31px;
  background-size: cover;
  background-image: url("/assets/tanks/scoutturret.png"), url("/assets/tanks/scoutbody.png");
}

#demolitionTankImage {
  width: 49px;
  height: 35px;
  background-size: cover;
  background-image: url("/assets/tanks/demolitionturret.png"), url("/assets/tanks/demolitionbody.png");
}

.stats {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.statsTitle {
  text-align: center;
  padding-top: 10px;
  width: 90px;
  height: 30px;
  color: white;
}

.statsImage {
  width: 100px;
  height: 30px;
}

.specialAbility {
  text-align: center;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}